<h1><%= @task.title %></h1>

<ul>
  <li>details: <strong><%= @task.details %></strong></li>
  <li>completed: <strong><%= @task.completed %></strong></li>
</ul>

<hr>
<%= link_to "Go back to all tasks", tasks_path %>
